<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Event</key>
		<string>Fall of Ottoman Empire</string>
		<key>Year</key>
		<string>1920</string>
		<key>URL</key>
		<string></string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Mona Lisa is painted</string>
		<key>Year</key>
		<string>1506</string>
		<key>URL</key>
		<string></string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Death of Henry VIII</string>
		<key>Year</key>
		<string>1547</string>
		<key>URL</key>
		<string></string>
	</dict>
	<dict>
		<key>Event</key>
		<string>First Man-Made Plastic</string>
		<key>Year</key>
		<string>1856</string>
		<key>URL</key>
		<string></string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Founding of Jamestown</string>
		<key>Year</key>
		<string>1607</string>
		<key>URL</key>
		<string></string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Birth of Virginia Dare</string>
		<key>Year</key>
		<string>1587</string>
		<key>URL</key>
		<string></string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Machu Picchu constructed</string>
		<key>Year</key>
		<string>1450</string>
		<key>URL</key>
		<string></string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Forbidden City constructed in Beijing</string>
		<key>Year</key>
		<string>1420</string>
		<key>URL</key>
		<string></string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Birth of Genghis Khan</string>
		<key>Year</key>
		<string>1162</string>
		<key>URL</key>
		<string></string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Start of Hundred Years War</string>
		<key>Year</key>
		<string>1337</string>
		<key>URL</key>
		<string></string>
	</dict>
</array>
</plist>
